
@model Mproduct
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   <div class="text-center">
       <form action="/home/add" method="post">

       <input type="text" asp-for="Name">
       <br>
       <input type="text" asp-for="price">

       <button type="submit">save</button>
</form>

   </div>

   
</div>
